:root {
    --primary-bg-color: #F79123;
    --hover-bg-color: #fcfaf7;
    --text-color: #f2f2f2;
    --link-padding: 14px 16px;
    /* --light-grey-background: #f7f7f7; /* Variable for light grey background */
    --cta-bg-color: #FFFF00; /* Default yellow background for the CTA banner */
    --cta-text-size: 1em; /* Default text size for the CTA */
    --footer-margin-top: 1em;
    --footer-margin-bottom: 1em;
    --footer-padding-top: 1em;
    --footer-padding-bottom: 1em;
}

.cta-banner {
    background-color: var(--cta-bg-color);
    text-align: center;
    padding: 10px 0;  /* Increase padding for more space inside the banner */
    margin: 10px 10px;  /* Add margin to create space around the banner */
}

.cta-banner a {
    color: black;
    font-size: var(--cta-text-size);
    text-decoration: none;
    font-weight: bold;
}

.cta-banner a:hover {
    color: var(--hover-bg-color);
}

body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-logo {
    height: 270px;
    width: auto;
}

.header {
    background-color: #ffffff;
    padding: 1em 0;
    text-align: center;
}

.logo-container {
    text-align: center;
}

.navbar {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
}

.navbar a {
    color: var(--text-color);
    display: inline-block;
    padding: var(--link-padding);
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--hover-bg-color);
    color: black;
}

.main-content {
    background: #fff;
    padding: 1em;
}

.content-item {
    align-items: flex-start; /* Align items to the top of the container */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content-image {
    height: auto;
    width: 100%; /* Default width for desktop */
}

.content-text {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.photo-gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1em;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}.strava-widget {
    text-align: center; /* Center the widget if it looks better */
    padding: 20px; /* Add padding as necessary */
    /* Add other styling as needed */
}

.footer {
    background: var(--primary-bg-color);
    margin-top: var(--footer-margin-top);
    margin-bottom: var(--footer-margin-bottom);
    padding: var(--footer-padding-top) 0.5em var(--footer-padding-bottom) 0.5em; /* Adjusted padding */
    text-align: center;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
    .header-logo {
        height: 100px; /* Smaller logo for mobile */
    }

    .content-item {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .content-image {
        width: 100%; /* Full width for images on mobile */
    }

    .content-text {
        padding-right: 0;
        padding-bottom: 20px; /* Space between text and image when stacked */
    }

    .navbar a {
        padding: 10px 12px; /* Smaller padding for navbar links on mobile */
    }

    .photo-gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust gallery item size on smaller screens */
    }
}
